/*design for all page */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  font-size: 20px;
  display: flex;
  border: none black;
  padding-left: 50px;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
}
li {
  cursor: pointer;
}
li:hover {
  color: red;
}
#fotter {
  display: grid;
  border-style: none;
  color: black;
  height: 50px;
  width: 100%;
  margin-top: 90px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #ddd;
}
.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer;
  border-style: none;
  background-color: #ddd;
  padding: 10px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}
.section {
  display: flex;
  flex-wrap: wrap;
  row-gap: inherit;
  gap: 40px;
  background-color: #ddd;
  justify-content: center;
  align-items: center;
  height: 430px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
img {
  height: 230px;
  width: 300px;
}
p {
 color:black;
  font-size: 28px;
  font-weight: bold;
  /*  margin-top: 25px;
  margin-bottom: 27px; */
  margin: 50px;
}

button {
  /* background-color: #ddd;
  */
  font-size: 20px;
  height: 50px;
  width: 125px;
  border-radius: 10px;
  background-color: rgb(20, 18, 18);
  color: white;
  cursor: pointer;
  /* margin-left: 25px; */
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px;
}
button:hover{
  color: black;
  background-color: white;
}
.as {
  width: 50%;
  text-align: left;
  margin-left: 25px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;

}
@media all and (max-width: 100%) {
}
h2 {
  margin-top: 10px;
}

.detailsPrice{
  
  display: grid;
  grid-template-columns: repeat(2,150px);
  width: 350px;
}
span{
  margin-top: 10px;
  background-color: blue;
  text-align: center;
  width: 300px;
}
input{
  height: 25px;
}