/*design for all page */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  border: none black;
  padding-left: 50px;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
  height: 50px;
  justify-content: center;
  align-items: center;
 color: gray;
}
li{
  cursor: pointer;
}
li:hover{
  color: red;
}
#fotter {
  display: grid;
  border: solid black 2px;
  color:black;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: brown
}
.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer;
  border-style: none;
  background-color: #ddd;

  padding: 10px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
 /* background-color: #F5F5F5;
*/}
.tab {
  display: flex;
  flex-wrap: wrap;
  row-gap: inherit;
  gap: 40px;
  border-style: none;
   background-color: #ddd; 
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  /*padding-top: 30px;
  */text-align: center;
 
}
img {
  height: 230px;
  width: 300px;
}
p {
  color:#D16E25;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 27px;
}
