/*design for all page */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  border: none black;
  padding-left: 50px;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: gray;
}
li {
  cursor: pointer;
}
li:hover {
  color: red;
}
#fotter {
  display: grid;
  border: solid black 2px;
  color: black;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: brown;
}
.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer;
  border-style: none;
  background-color: #ddd;
  padding: 10px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}
.tab {
  display: flex;
  flex-wrap: wrap;
  row-gap: inherit;
  gap: 40px;
  border-style: none;
  background-color: #ddd;
  justify-content: center;
  align-items: center;
  height: 430px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
img {
  height: 230px;
  width: 300px;
}
p {
  color: #d16e25;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 27px;
}
.med {
  width: 100%;
}
@media (max-width: 700px) {
  .med {
    width: 100px;
  }
}

button {
  color: black;
 /* background-color: #ddd;
  */height: 50px;
  width: 80px;
  border-style: none;
  background-color: #ddd;
  cursor: pointer;
}
.as{
  width: 50%;
  text-align: left;
}